@import "normalize";

$cellSize: 40px;

.x-turn{
	margin-left: 100px;
	overflow: hidden;
}

.x-board{
	margin: 100px;
	overflow: hidden;
	float: left;
}

.x-coin{
	margin: 5px;
	border-radius: 100px;
	height: $cellSize - 12px;
	width: $cellSize - 12px;
	
	&.x--user-one{
		background: #449922;
	}
	&.x--user-two{
		background: #FF7722;
	}
}

.x-column{
	height: $cellSize * 6;
	width: $cellSize;
	float: left;
	
	.x-cell{
		height: $cellSize - 2px;
		width: $cellSize - 2px;
		border: 1px solid white;
		background: black;
	}
}

