html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}

.x-turn {
  margin-left: 100px;
  overflow: hidden;
}

.x-board {
  margin: 100px;
  overflow: hidden;
  float: left;
}

.x-coin {
  margin: 5px;
  border-radius: 100px;
  height: 28px;
  width: 28px;
}
.x-coin.x--user-one {
  background: #449922;
}
.x-coin.x--user-two {
  background: #FF7722;
}

.x-column {
  height: 240px;
  width: 40px;
  float: left;
}
.x-column .x-cell {
  height: 38px;
  width: 38px;
  border: 1px solid white;
  background: black;
}
